@model RecommendationResult;

<div class="question-title">
    Something like this? 
</div>

<div class="answer-panel">
    <div>
        <div class="row">
            <div class="col-lg-7">
                <div class="box">
                    <div class="track-title">@Model.ArtistName -  @Model.TrackName</div>
                    <div class="track-body">
                        <div class="row">
                            <div class=" col-lg-2">
                                <strong>Album:</strong>
                            </div>
                            <div class=" col-lg-8">
                                @Model.AlbumName
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-lg-2">
                                <strong>Length:</strong>
                            </div>
                            <div class=" col-lg-8">
                                @Model.TrackLength
                            </div>
                        </div>
                        <div class="row">
                            <div class="switch-block">
                                <form asp-controller="Recommendations" method="post">
                                    <button name="genre" type="submit" formaction="Next" class="btn btn-large btn-navy btn-fill-horz">Give me another one!</button>
                                    <button name="genre" type="submit" formaction="Return" class="btn btn-large btn-navy btn-fill-horz">Change your mood!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <iframe src="https://open.spotify.com/embed?uri=@Model.TrackUri&view=coverart" width="400" height="480" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>